/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/

/[Rr]ecordings/

/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

/[Aa]ssets/Animations/
/[Aa]ssets/Art/
/[Aa]ssets/Audio/
/[Aa]ssets/ModularTrackKit/
/[Aa]ssets/PhysicsMaterials/
/[Aa]ssets/ScriptableObjects/
/[Aa]ssets/Timelines/
/[Aa]ssets/Tutorials/
/[Aa]ssets/ML-Agents/
/[Aa]ssets/ModAssets/
/[Aa]ssets/Rendering/
/[Aa]ssets/TextMesh Pro/

/[Aa]ssets/KartingMicrogame_README.txt
/[Aa]ssets/ThirdPartyNotice.txt

/[Aa]ssets/[Ss]cripts/AI/
/[Aa]ssets/[Ss]cripts/Editor/
/[Aa]ssets/[Ss]cripts/GameModels/
/[Aa]ssets/[Ss]cripts/UI/
/[Aa]ssets/[Ss]cripts/Track/

/[Aa]ssets/[Ss]cripts/ArcadeKartPowerup.cs
/[Aa]ssets/[Ss]cripts/AudioManager.cs
/[Aa]ssets/[Ss]cripts/FramerateCounter.cs
/[Aa]ssets/[Ss]cripts/GameConstants.cs
/[Aa]ssets/[Ss]cripts/InGameMenuManager.cs
/[Aa]ssets/[Ss]cripts/KartGame.cs
/[Aa]ssets/[Ss]cripts/MinMaxParameters.cs
/[Aa]ssets/[Ss]cripts/Objective.cs
/[Aa]ssets/[Ss]cripts/ObjectiveManager.cs
/[Aa]ssets/[Ss]cripts/PrefabReplacer.cs
/[Aa]ssets/[Ss]cripts/PrefabReplacerOnInstance.cs
/[Aa]ssets/[Ss]cripts/SimpleShaker.cs
/[Aa]ssets/[Ss]cripts/TimeManager.cs
