/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/

/[Rr]ecordings/

/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

/[Aa]ssets/[Kk]arting/[Aa]nimations/
/[Aa]ssets/[Kk]arting/[Aa]rt/
/[Aa]ssets/[Kk]arting/[Aa]udio/
/[Aa]ssets/[Kk]arting/ModularTrackKit/
/[Aa]ssets/[Kk]arting/PhysicsMaterials/
/[Aa]ssets/[Kk]arting/ScriptableObjects/
/[Aa]ssets/[Kk]arting/Timelines/
/[Aa]ssets/[Kk]arting/Tutorials/
/[Aa]ssets/ML-Agents/
/[Aa]ssets/ModAssets/
/[Aa]ssets/Rendering/
/[Aa]ssets/TextMesh Pro/

/[Pp]ackages/

/[Aa]ssets/[Kk]arting/KartingMicrogame_README.txt
/[Aa]ssets/[Kk]arting/ThirdPartyNotice.txt

/[Aa]ssets/[Kk]arting/[Ss]cripts/AI/
/[Aa]ssets/[Kk]arting/[Ss]cripts/Editor/
/[Aa]ssets/[Kk]arting/[Ss]cripts/GameModels/
/[Aa]ssets/[Kk]arting/[Ss]cripts/UI/
/[Aa]ssets/[Kk]arting/[Ss]cripts/Track/
/[Aa]ssets/[Kk]arting/[Ss]cripts/Utilities/

/[Aa]ssets/[Kk]arting/[Ss]cripts/ArcadeKartPowerup.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/AudioManager.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/FramerateCounter.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/GameConstants.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/InGameMenuManager.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/KartGame.asmdef
/[Aa]ssets/[Kk]arting/[Ss]cripts/MinMaxParameters.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/Objective.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/ObjectiveManager.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/PrefabReplacer.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/PrefabReplacerOnInstance.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/SimpleShaker.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/TimeManager.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/GameFlowManager.cs
/[Aa]ssets/[Kk]arting/[Ss]cripts/TakeScreenshot.cs

/[Aa]ssets/[Kk]arting/[Ss]cripts/[Kk]art[Ss]ystems/[Kk]art[Aa]nimation/
/[Aa]ssets/[Kk]arting/[Ss]cripts/[Kk]art[Ss]ystems/[Kk]art[Aa]udio/
/[Aa]ssets/[Kk]arting/[Ss]cripts/[Gg]ameModes/

/[Aa]ssets/[Kk]arting/[Pp]refabs/AI/
/[Aa]ssets/[Kk]arting/[Pp]refabs/Cameras/
/[Aa]ssets/[Kk]arting/[Pp]refabs/Environment/
/[Aa]ssets/[Kk]arting/[Pp]refabs/GameModes/
/[Aa]ssets/[Kk]arting/[Pp]refabs/Props/
/[Aa]ssets/[Kk]arting/[Pp]refabs/Setup/
/[Aa]ssets/[Kk]arting/[Pp]refabs/TrackPieces/
/[Aa]ssets/[Kk]arting/[Pp]refabs/Tracks/
/[Aa]ssets/[Kk]arting/[Pp]refabs/TrainingTracks/
/[Aa]ssets/[Kk]arting/[Pp]refabs/UI/
/[Aa]ssets/[Kk]arting/[Pp]refabs/VFX/
